@import url(reset);

$light-grey: #eeeeee;
$medium-grey: #dfdfdf;
$dark-grey: #747474;
$orange: #fc8a00;
$pink: #df0e88;
$purple: #250137;

* {
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'VT323', monospace;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
  background: linear-gradient(45deg, $purple 20%, $pink 200%);
  padding: 10px;
}

.Title {
  font-size: 32px;
  color: white;
}

.Toolbar {
  width: 124px;
  height: auto;
  background-color: $light-grey;
  border-radius: 0.5rem;
}

.Canvas {
  width: calc(100% - 82px);
  height: 100%;
  background-color: transparent;
  margin: 32px;
  border: 2px solid $medium-grey;
  border-radius: 0.5rem;
  overflow: hidden;
}
.Playground {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  min-width: 1000px;
  min-height: 500px;
  background-color: white;
  padding: 32px;
}

.gridElement {
  width: 32px;
  height: 32px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.gridElement:hover {
  background-color: $light-grey; /* Background color on hover */
}

.circuitPlayground{
    position: relative;
    width: calc(20 * 32) px;
    height: calc(15 * 32) px;
    margin: 10px;
    border: 2px solid $dark-grey;
    border-radius: 1rem;
    background-color: transparent;

}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(
    20,
    32px
  ); /* Adjust the number of columns and size as needed */
  grid-template-rows: repeat(
    15,
    32px
  ); /* Adjust the number of rows and size as needed */
  gap: 0px; /* Adjust the gap between grid items as needed */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
  width: 640px;
  height: 480px;
  background-color: transparent;
}

@mixin gateInOut{
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.gate{
    width: 32px;
    height: 32px;
}

.and {
    @include gateInOut();
    background-image: url(../assets/and.png);

}
.or {
    @include gateInOut();
    background-image: url(../assets/or.png);
}
.not {
    @include gateInOut();
    background-image: url(../assets/not.png);
}
.switchOff {
    @include gateInOut();
    background-image: url(../assets/off.png);
}

.switchOn {
    @include gateInOut();
    background-image: url(../assets/on.png);
}

.switchOn {
    @include gateInOut();
    background-image: url(../assets/on.png);
}
.output {
    @include gateInOut();
    background-image: url(../assets/light-off.png);
}


.outputOn{
    @include gateInOut();
    background-image: url(../assets/light-on.png);
}



.selectedGate {
    background-color: $light-grey;
  }

.tool{
    width: 80%;
    margin: 10px;
    background-color: $medium-grey;
    border: none;
    border-radius: 1rem;
}


.SelectedTool {
    background-color: $dark-grey;
  }


Canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    pointer-events: none;
    width: calc(20 * 32) px;
    height: calc(15 * 32 ) px;
}
