@import url(reset);
* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: #1a1a1a;
  padding: 10px;
}

.Title {
  font-size: 52px;
  font-weight: 200;
  color: #eeeeee;
}

.Toolbar {
  width: 124px;
  height: auto;
  background-color: #eeeeee;
  border-radius: 0.5rem;
}

.Canvas {
  width: calc(100% - 82px);
  height: 100%;
  background-color: transparent;
  margin: 32px;
  border: 2px solid #dfdfdf;
  border-radius: 0.5rem;
  overflow: hidden;
}

.Playground {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  min-width: 1000px;
  min-height: 500px;
  background-color: white;
  padding: 32px;
}

.gridElement {
  width: 32px;
  height: 32px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.gridElement:hover {
  background-color: #eeeeee; /* Background color on hover */
}

.circuitPlayground {
  position: relative;
  width: 640 px;
  height: 480 px;
  margin: 10px;
  border: 2px solid #747474;
  border-radius: 1rem;
  background-color: white;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(20, 32px); /* Adjust the number of columns and size as needed */
  grid-template-rows: repeat(15, 32px); /* Adjust the number of rows and size as needed */
  gap: 0px; /* Adjust the gap between grid items as needed */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
  width: 640px;
  height: 480px;
  background-color: transparent;
}

.gate {
  width: 32px;
  height: 32px;
}

.and {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/and.png);
}

.or {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/or.png);
}

.not {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/not.png);
}

.switchOff {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/off.png);
}

.switchOn {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/on.png);
}

.switchOn {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/on.png);
}

.output {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/light-off.png);
}

.outputOn {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-image: url(../assets/light-on.png);
}

.buttonImg {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-left: 5px;
}

Button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectedGate {
  background-color: #eeeeee;
}

.tool {
  width: 80%;
  height: 42px;
  margin: 10px;
  background-color: #dfdfdf;
  border: none;
  border-radius: 1rem;
}

.SelectedTool {
  background-color: #747474;
}

Canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  pointer-events: none;
  width: 640 px;
  height: 480 px;
}/*# sourceMappingURL=App.css.map */